<div class="navbar">
  <mat-toolbar
    fxLayout="row"
    color="primary"
    fxLayoutAlign="space-between center"
    class="mat-elevation-z8"
  >
    <div
      class="left-side"
      fxLayout="row"
      fxLayoutGap="1rem"
      fxLayoutAlign="start center"
    >
      <button
        class="button"
        mat-mini-fab
        mat-raised-button
        color="secondary"
        (click)="navOpen()"
      >
        <mat-icon mat-raised-button> menu </mat-icon>
      </button>
      <h2 id="appTitle">Medical Card App</h2>
    </div>
  </mat-toolbar>
</div>
