<div
  class="home"
  fxLayout="row"
  fxLayoutAlign="center stretch"
  fxLayoutGap="2rem"
>
  <!-- Description div -->
  <div class="description" fxFlex="40">
    <p>Default username: "user" | password: "user"</p>

    <mat-divider></mat-divider>

    <p>This is a Medical Card Application</p>

    <p>
      Purpose of this application is for medical employee and/or institutions is
      to add info for their visiting patients, and to input their every
      diagnosis. User can review, add, edit or delete patients from DB, but can
      only review and input diagnosis. By deleting a patient, you also delete
      all his diagnosis.
    </p>

    <mat-divider></mat-divider>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non
      urna condimentum magna vestibulum dapibus eu quis nibh. Phasellus ut lacus
      hendrerit, euismod est non, sollicitudin diam. Nam accumsan facilisis elit
      et rutrum. Orci varius natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus.
    </p>
  </div>

  <!-- Login div -->
  <div class="login" fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="'password'" [(ngModel)]="password" />
    </mat-form-field>

    <button class="button" mat-raised-button color="primary" (click)="login()">
      Login
    </button>
  </div>
</div>
