<div class="main" fxLayout="row" fxLayoutAlign="center stretch">
  <!-- Navigate to add patient page -->
  <div
    class="add-patient"
    fxFlex="50"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="1rem"
  >
    <button
      class="button"
      mat-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
      routerLink="/new_patient"
    >
      <mat-icon>add</mat-icon>
    </button>

    <p class="action">New Patient</p>
  </div>

  <mat-divider vertical="true"></mat-divider>

  <!-- Navigate to add diagnosis page -->
  <div
    class="add-diagnosis"
    fxFlex="50"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="1rem"
  >
    <button
      class="button"
      mat-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
      routerLink="/new_diagnosis"
    >
      <mat-icon>add</mat-icon>
    </button>
    
    <p class="action">New Diagnosis</p>
  </div>
</div>
