* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

.main-app {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/pexels-gustavo-fring-4173239.jpg");
  background-size: cover;
}

.sidebar {
  width: 20rem;
}

.sidebar div {
  padding: 1rem;
}

.sidebar div:first-child {
  margin-top: 5rem;
}

button {
  cursor: default;
}

button {
  color: white;
  font-size: 1rem;
}

.button:hover {
  background-color: white;
  color: blue;
}
