<div>
  <mat-drawer-container class="main-app">
    <mat-drawer #mainNav mode="over" class="sidebar">
      <div
        class="navigation-buttons"
        fxLayout="column"
        fxLayoutAlign="space-around stretch"
        fxLayoutGap="2rem"
      >
        <button mat-button mat-raised-button color="primary">Home</button>
        <button mat-button mat-raised-button color="primary">Patient</button>
        <button mat-button mat-raised-button color="primary">Diagnosis</button>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <app-header (navToggle)="mainNav.toggle()"></app-header>
      <h1>test main</h1>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
