<div>
  <mat-drawer-container class="main-app">
    <mat-drawer #mainNav mode="over" class="sidebar">
      <div
        class="navigation-buttons"
        fxLayout="column"
        fxLayoutAlign="space-around stretch"
        fxLayoutGap="2rem"
      >
        <button routerLink="/" mat-button mat-raised-button color="primary">
          Home
        </button>
        <button
          routerLink="/patient"
          mat-button
          mat-raised-button
          color="primary"
        >
          Review
        </button>
        <button routerLink="/new" mat-button mat-raised-button color="primary">
          New
        </button>
        <button mat-raised-button color="primary" (click)="logout()">
          Logout
        </button>
      </div>
    </mat-drawer>
    <mat-drawer-content fxLayout="column" fxLayoutAlign=" none">
      <app-header (navToggle)="mainNav.toggle()"></app-header>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
