<div class="diagnosis" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="basic-info">
    <h2>Patient</h2>
    <div fxLayout="row" fxLayoutAlign="center stretch">
      <div fxFlex="50">
        <p>Name: {{ patient?.firstName }} {{ patient?.lastName }}</p>
        <p>Card number: {{ patient?.cardNumber }}</p>
      </div>
      <div fxFlex="50">
        <p>Address: {{ patient?.address }}</p>
        <p>Phone number: {{ patient?.phoneNumber }}</p>
        <p>Added on: {{ patient?.date }}</p>
      </div>
    </div>
  </div>
  <div class="diagnosis-info">
    <h2>Diagnosis</h2>
    <mat-form-field appearance="fill">
      <mat-label class="select">Date of diagnose</mat-label>
      <mat-select
        required
        [(ngModel)]="selectedDiagnoseId"
        (ngModelChange)="onChange()"
      >
        <mat-option
          *ngFor="let diagnos of diagnosisArr; index as i"
          [value]="i"
        >
          {{ diagnos?.date }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="diagnose">
      <p>
        Dijagnoza je uzeta na dan:
        <span>{{ selectedDiagnose?.date }}</span>
      </p>
      <p>
        Opis: <span>{{ selectedDiagnose?.diagnosis }}</span>
      </p>
      <p>
        Preporuka i lijekovi:
        <span>{{ selectedDiagnose?.medicine }}</span>
      </p>
    </div>
  </div>
</div>
